<?xml version="1.0"?>
<robot name="pexod" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="path_generation" default="package" />
  <xacro:property name="path_generation" value="$(arg path_generation)" />

  <xacro:if value="${'package' == path_generation}">
    <xacro:property name="path_prefix" value="package://hexapod_description/" />
  </xacro:if>
  <xacro:if value="${'relative' == path_generation}">
    <xacro:property name="path_prefix" value="" />
  </xacro:if>

  <xacro:include filename="$(find hexapod_description)/urdf/modules/pexod.xacro" />

</robot>
